.container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  background-color: $white;
}

.streamers {
  padding-left: 4px;
}

.leftCol {
  text-align: center;

  @media (min-width: 715px) {
    width: 60%;
    display: inline-block;
  }
}

.rightCol {
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: 715px) {
    width: 40%;
    display: inline-block;
    margin-bottom: 0;
  }
}

.filter {
  @extend %centerise;
  border-bottom: 2px solid;
  padding: 9px;
  background-color: $golden-tainoi;
  margin-right: -4px;
  cursor: pointer;

  &:nth-of-type(3) {
    margin-bottom: 15px;
  }
}

@media (min-width: 450px) {
  .filter {
    width: 33.3%;
    display: inline-block;
    border-bottom: none;
    border-right: 2px solid;
  }
}
