* {
  box-sizing: border-box;
}

body {
  background-color: $pippin;
  font-family: Segoe UI Light;
  margin-top: 13px;
}

a {
  text-decoration: none;
  color: $black;

  &:active {
    color: $green;
  }
}

li {
  list-style-type: none;
  padding: 24px 24px 24px 0;
  text-align: center;
}

input {
  display: block;
  margin: 0 auto;
  width: 70%;
  margin-bottom: 15px;
}

span {
  font-size: 20px;
  display: block;
}

img {
  width: 90px;
  border: 1px solid;
  border-radius: 50px;
}

@media (min-width: 450px) {
  li {
    text-align: left;
    padding: 24px 24px 24px 0;

    &:hover {
      background-color: rgba($black, 0.2);
      transition: all ease 0.5s;
    }
  }

  span {
    display: inline;
  }
}
