* {
  box-sizing: border-box;
}

body {
  background-color: $pippin;
  font-family: Segoe UI Light;
  margin-top: 13px;
}

input {
  display: block;
  margin: 0 auto;
  width: 70%;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: $black;

  &:active {
    color: $green;
  }
}

li {
  list-style-type: none;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;

  @media (min-width: 450px) {
      &:hover {
        background-color: rgba($black, 0.2);
        transition: all ease 0.5s;
      }
    }

  @media (min-width: 715px) {
    & {
      text-align: left;
      margin-left: 40px;
    }
  }

.online,
.offline {

}

span {
  font-size: 20px;
  display: block;
}

img {
  width: 90px;
  border: 1px solid;
  border-radius: 50px;
}

  span {
    display: block;
    @media (min-width: 715px) {
      & {
        display: inline;
      }
    }
  }
}
